<footer>
<hr style="width: 40%; margin-left: 30%"/>
<p class="text-center" style="font-size: 0.9rem; color: #AAAAAA">
Built by: Ruby on Rails<br>
Lun Li | Allen Lee<br>
Gmail: benben8435 | Ins: benben8435<br>
USCD Junior
</p>
</footer>