<style>
.thumbnail
{
  width: 200px;
  position: relative;
}
.thumbnail a
{
  opacity: 1;
  text-align: center;
}
.thumbnail:hover a
{
  opacity: 0.4;
}
.thumbnail span
{
  display: none;
  text-decoration: none;
}
.thumbnail:hover span
{
  display: block; 
  width: 160px; 
  opacity: 1; 
  position: absolute;
  left: 20px;
  top: 50px;
  text-align: center;
  z-index: 100;
}

</style>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">

      <a class="left-off-canvas-toggle" href="#" ><i class="fi-pricetag-multiple" style="font-size: 2rem; "></i></a>

      <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu">
          <!-- whatever you want goes here -->
          <%= render "tag_list" %>
      </aside>
      <!-- main content goes here -->
      <ul class="small-12 columns small-centered small-block-grid-1 medium-block-grid-2 large-block-grid-3"><%= render partial: "list", locals: {articles: @articles} %></ul>
    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>
    </div>
  </div>







  




